footer.next-llms-txt-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-items: center;
  flex-direction: column;

  li {
    display: block;
    margin: 10px;
  }
}
