footer.next-llms-txt-footer {
  display: flex;
  justify-content: center;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0 0;
    text-align: center;
    display: flex;
    justify-items: center;
    flex-direction: row;

    li {
      display: block;
      margin: 10px;

      a {
        display: block;

        img {
          max-height: 20px;
        }
      }
    }
  }
}
